body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	background-color: #24273a;
}

.header {
	display: flex;
	direction: row;
	justify-content: center;
}

main {
	flex: 1;
}

img {
	width: auto;
	height: 50px;
	margin: 10px;
}

.card {
	text-align: centre;
	background-color: #1e2030;
	border: 1;
	border-radius: 25px;
	margin: 10px;
	padding: 15px;
}

/* Fonts + Text related */
p,
h1,
h2,
h3 {
	color: grey;
}

h1,
h2,
h3 {
	text-align: center;
}

.montserrat {
	font-family: "Montserrat", sans-serif;
	font-optical-sizing: auto;
}

.light {
	font-weight: 300;
	font-style: oblique;
}

.medium {
	font-weight: 500;
	font-style: normal;
}

.heavy {
	font-weight: 800;
	font-style: normal;
}
